.split-section {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.images {
    flex: 1;
    background-color: #DAD4C8;
    padding: 50px 90px;
}

.images img {
    width: 100%;
    border-radius: 15px;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: sticky;
    top: 50px;
    margin: 100px 0px 200px 0px;
    padding-right: 100px;
}

.texts h2,
p,
button {
    text-align: center;
    gap: 30px;
}

.btn-block {
    background-color: #C9B164;
    color: white;
    padding: 20px;
    border: none;
}

.btn-block:hover {
    background-color: #d4bd6f;
}